<% if (current_page?("/products") && !params[:keywords]) || (!@taxon.nil? && current_page?('/t/'+@taxon.permalink)) %>
    <div class="sort-filter-order" >
      <div class="pull-right">
        <a href="#" class="cd-filter-trigger" id='trigger-filters' >
          <i class="fa fa-sliders fa-lg"></i>
          <span><%= t(:filters) %></span>
        </a> 
      </div>
    </div>
      
    <div id="product_grid_sort" class="pull-right">
      <ul>
        <li class="hidden-desktop"><a id="grid-th-vertical" href="#"><i class="i-th-vertical"></i></a></li>
        <li><a id="grid-th" href="#"><i class="i-th"></i></a></li>          
        <li class="hidden-mobile"><a id="grid-th-large" href="#"><i class="i-th-large"></i></a></li>
        <li class="hidden-mobile"><a id="grid-th-extra-large" href="#"><i class="i-th-extra-large"></i></a></li>
      </ul>
    </div>

  <% filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>
  <% unless filters.empty? %>
  
  <div class="cd-filter">
    <div id="form-filter-header">
      <a href="#" class="cd-close"><i class="fa fa-chevron-left fa-2x"></i></a>
      <h4 id='filters' ><%= t(:filters) %></h4>
      <!--<h4 id='orders'><%= t(:order_scope_word) %> </h4> -->
    </div>
    <div id="form-filters">
      <div class="cd-filter-block" id='order-list'>
        <h4><%= t(:options) %></h4>
        <ul class="cd-filter-content cd-filters list">
          <li><a class='filter' tabindex="-1" href="<%= redirection_page_order_scope %>?order=descend_by_popularity"><%= t(:order_scope_relevance)%></a></li>
          <li><a class='filter' tabindex="-1" href="<%= redirection_page_order_scope %>?order=descend_by_master_price"><%= t(:order_scope_descend_by_master_price)%></a></li>
          <li><a class='filter' tabindex="-1" href="<%= redirection_page_order_scope %>?order=ascend_by_master_price"><%= t(:order_scope_ascend_by_master_price)%></a></li>
          <li><a class='filter' tabindex="-1" href="<%= redirection_page_order_scope %>?order=ascend_by_name"><%= t(:order_scope_ascend_by_name)%></a></li>
          <li><a class='filter' tabindex="-1" href="<%= redirection_page_order_scope %>?order=descend_by_name"><%= t(:order_scope_descend_by_name)%></a></li>
          <li><a class='filter' tabindex="-1" href="<%= redirection_page_order_scope %>?order=descend_by_updated_at"><%= t(:order_scope_descend_by_updated_at)%></a></li>
        </ul>
      </div>

      <%= form_tag '', :method => :get, :id => 'sidebar_products_search', name: 'sidebar_products_search' do %>
        <%#= hidden_field_tag 'per_page', params[:per_page] %>
        <% filters.each do |filter| %>
          <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
          <% next if labels.empty? %>
          <div class="cd-filter-block">
            <h4> <%= t(filter[:name]) %>  </h4>
            <ul class="cd-filter-content cd-filters list">
              <% if filter[:name] == :price_between %>
                <li>
                    <%= filter[:min] %>€&nbsp;
                    <%= text_field_tag :price_between, nil, name: 'search[' + filter[:scope].to_s + '][]', 
                        :data => {'slider-id'    => 'ex2Slider',
                                  'slider-min'   => filter[:min],
                                  'slider-max'   => filter[:max],
                                  'slider-step'  => filter[:step],
                                  'slider-value' => [filter[:min],filter[:max]]},
                        :value => '' + filter[:min].to_s + ',' + filter[:max].to_s %>
                    &nbsp;<%= filter[:max] %>€
                </li>
              <% else %>
              <% labels.each do |nm,val| %>
                <% label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_') %>
                <li>
                  <input type="checkbox"
                         class="filter"
                         id="<%= label %>"
                         name="search[<%= filter[:scope].to_s %>][<%= nm %>]"
                         value="<%= val %>"
                         <%= params[:search] && params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s) ? "checked" : "" %> />
                  <label class="checkbox-label" for="<%= label %>"> <%= nm %> </label>
                </li>
                <% end %>
              <% end %>
            </ul><!-- cd-filter-content -->
          </div><!-- cd-filter-block -->
        <% end %>
      <% end %>
    </div>
    <div id="form-filter-footer">
      <%= button_tag Spree.t(:search), :name => nil, :form => 'sidebar_products_search', :class => 'btn btn-primary' %>
    </div>
  </div> <!-- cd-filter -->
  <% end %>
<% end %>
