<% if (current_page?("/products") && !params[:keywords]) || (!@taxon.nil? && current_page?('/t/'+@taxon.permalink)) %>
    <div class=" <%= current_page?('/products') ? 'col-md-12 col-sm-12 col-xs-12' : 'col-md-3 col-sm-3 col-xs-12' %> " >
      <div id="sort_items_menu" class="btn-group pull-right">
        <a class="btn" data-toggle="dropdown" href="#">
          <i class="fa fa-random"></i>
          <%#= t(:order_scope_word) %>
          <!--span class="caret caret-white"></span-->
        </a>
        <ul class="dropdown-menu pull-left" role="menu">
          <li><a tabindex="-1" href="<%= redirection_page_order_scope %>?order=descend_by_popularity"><%= t(:order_scope_relevance)%></a></li>
          <li><a tabindex="-1" href="<%= redirection_page_order_scope %>?order=descend_by_master_price"><%= t(:order_scope_descend_by_master_price)%></a></li>
          <li><a tabindex="-1" href="<%= redirection_page_order_scope %>?order=ascend_by_master_price"><%= t(:order_scope_ascend_by_master_price)%></a></li>
          <li><a tabindex="-1" href="<%= redirection_page_order_scope %>?order=ascend_by_name"><%= t(:order_scope_ascend_by_name)%></a></li>
          <li><a tabindex="-1" href="<%= redirection_page_order_scope %>?order=descend_by_name"><%= t(:order_scope_descend_by_name)%></a></li>
          <li><a tabindex="-1" href="<%= redirection_page_order_scope %>?order=descend_by_updated_at"><%= t(:order_scope_descend_by_updated_at)%></a></li>
        </ul>
      </div>
      <div id="product_grid_sort" class="pull-right">
        <ul>
          <li class="hidden-desktop"><a id="grid-th-vertical" href="#"><i class="i-th-vertical"></i></a></li>
          <li><a id="grid-th" href="#"><i class="i-th"></i></a></li>          
          <li class="hidden-mobile"><a id="grid-th-large" href="#"><i class="i-th-large"></i></a></li>
          <li class="hidden-mobile"><a id="grid-th-extra-large" href="#"><i class="i-th-extra-large"></i></a></li>
        </ul>
      </div>
    </div>
<% end %>

<% filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>
<% unless filters.empty? %>
<a href="#0" class="cd-filter-trigger">Filters</a> 
<div class="cd-filter">
  <%= form_tag '', :method => :get, :id => 'sidebar_products_search' do %>
    <%#= hidden_field_tag 'per_page', params[:per_page] %>
    <% filters.each do |filter| %>
      <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
      <% next if labels.empty? %>
      <div class="cd-filter-block">
        <h4 class="closed"> <%= filter[:name] %> </h4>
        <ul class="cd-filter-content cd-filters list">
          <% if filter[:name] == 'Price Between' %>
            <span><%= filter[:min] %>&nbsp;</span>
            <%= text_field_tag :price_between, nil, name: 'search[' + filter[:scope].to_s + '][]', 
                :data => {'slider-id'    => 'ex2Slider',
                          'slider-min'   => filter[:min],
                          'slider-max'   => filter[:max],
                          'slider-step'  => filter[:step],
                          'slider-value' => [filter[:min],filter[:max]]},
                :value => '' + filter[:min].to_s + ',' + filter[:max].to_s %>
            <span>&nbsp;<%= filter[:max] %></span>
          <% else %>
          <% labels.each do |nm,val| %>
            <% label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_') %>
            <li>
              <input type="checkbox"
                     class="filter"
                     id="<%= label %>"
                     name="search[<%= filter[:scope].to_s %>][]"
                     value="<%= val %>"
                     <%= params[:search] && params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s) ? "checked" : "" %> />
              <label class="checkbox-label" for="<%= label %>"> <%= nm %> </label>
            </li>
            <% end %>
          <% end %>
        </ul><!-- cd-filter-content -->
      </div><!-- cd-filter-block -->
    <% end %>
    <%= submit_tag Spree.t(:search), :name => nil %>
  <% end %>
  <a href="#0" class="cd-close">Close</a>
</div> <!-- cd-filter -->

<% end %>